.card-form{
    width: 400px;
    height: 200px;
    background-color: lightgray;
    margin: 25px auto;
    text-align: center;
    padding-top: 10px 0;
}

.card-form input{
    margin-left: 50px;
    padding: 6px;
}

.card-form button{
    padding: 6px;
    border: none;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.6);
    cursor: pointer;
}

.form-row{
    margin: 8px auto;
}